/**
 * FXML Stylesheet
 *
 * @author 8rux40 
 * @github https://github.com/8rux40
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(#444, #000);
}

.txtField {
    -fx-background-color: rgba(0,0,0,.6);
    -fx-text-fill: white;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #fe2280;
}

.default-button{
    -fx-background-color: #fe2280;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.cancel-button{
    -fx-padding: 8px 10px 8px 10px; 
}
 
.cancel-button:hover{
    -fx-background-color: grey;
}

.check-box {
    -fx-cursor: hand;
}

.check-box .box {
    -fx-background-color: black;
    -fx-border-color:#fe2280;
    -fx-border-radius:3px; 
    -fx-width: 25px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #fe2280;
}

.toggle-button:selected {
    -fx-background-color: #fe2280;
}

.progress-bar .track{
    -fx-background-color: rgba(0,0,0,.4);
}

.progress-bar .bar {
    -fx-background-color: 
        #fe2280; /* this line is the background color of the bar */
   
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.chart-pie {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.6), 24.5, 0.05, 0, 0);
}

/* Colors of JavaFX pie chart slices. *//*
.data0.chart-pie { -fx-pie-color: #ff0033; -fx-border-color: transparent;}
.data1.chart-pie { -fx-pie-color: #9c3e64; -fx-border-color: transparent;}
.data2.chart-pie { -fx-pie-color: #d974df; -fx-border-color: transparent;}
.data3.chart-pie { -fx-pie-color: #d6b7c8; -fx-border-color: transparent;}
.data4.chart-pie { -fx-pie-color: #bfc7cc; -fx-border-color: transparent;}*/

.data0.chart-pie { -fx-pie-color: #ff71ce; -fx-border-color: transparent;}
.data1.chart-pie { -fx-pie-color: #01cdfe; -fx-border-color: transparent;}
.data2.chart-pie { -fx-pie-color: #05ffa1; -fx-border-color: transparent;}
.data3.chart-pie { -fx-pie-color: #b967ff; -fx-border-color: transparent;}
.data4.chart-pie { -fx-pie-color: #fffb96; -fx-border-color: transparent;}

/* Pie Chart legend background color and stroke. */
.chart-legend { -fx-background-color: black; }
.chart-legend .label {
    -fx-text-fill: white;
}