/*
 * Empty Stylesheet file.
 */


#borderPaneMain {
    -fx-background-color: linear-gradient(#444, #000);
}

#containerAlbuns{
    
}
#anchorAlbuns {
    -fx-background-color: transparent;
}
#anchorAlbuns Label {
    -fx-text-fill: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar:vertical {
    -fx-block-increment: 20;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-background-color: #444;
    -fx-border: none;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.album-pane {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.album-pane:hover {
    -fx-background-color: rgba(0,0,0,.1);
}


#btnNovoAlbum {
    -fx-border-radius: 50%;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 15px;
}

#btnNovoAlbum:hover, #btnEstatisticas:hover {
    -fx-border-color: #fe2280;
    -fx-background-color: #fe2280;
}

#btnEstatisticas {
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.etiqueta {
    -fx-background-color: #888;
    -fx-padding: 0px 10px 0px 10px;
    -fx-border-radius: 100% 0% 0% 100%;
}

.etiqueta-grande{
    -fx-border-style: solid;
    -fx-border-color: #aaa;
    -fx-background-color: transparent;
    -fx-padding: 6px 8px 6px 8px;
    -fx-text-fill: #bbb;
}
.etiqueta-grande:hover {
    -fx-border-color: transparent;
    -fx-background-color: linear-gradient(#fff, #ddd);
    -fx-text-fill: black;
}

.etiqueta-grande-selecionada{
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-color: linear-gradient(#fff, #ddd);
    -fx-padding: 6px 8px 6px 8px;
    -fx-text-fill: black;
}

.btn {
    -fx-cursor:hand;
}

.btn-delete {
    -fx-background-image: url(img/delete-24.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.btn-delete:hover {
    -fx-background-image: url(img/delete-hover-24.png);
}

.btn-edit {
    -fx-background-image: url(img/edit-24.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.btn-status {
    -fx-background-image: url(img/edit-24.png); /* VER DEPOIS */
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.btn-edit:hover {
    -fx-background-image: url(img/edit-hover-24.png);
}

#btnTeste {
    -fx-background-image: url(img/delete-24.png);
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.list-cell:hover {
    -fx-background-color: rgba(0,0,0,.2);
}

.album-capa{
    -fx-effect: dropshadow(gaussian, black, 24.5, 0.05, 0, 0);
}

.album-titulo {
    -fx-font-family: "System";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.album-artista{
    -fx-font-weight: bold;
}

.album-ano {
    -fx-padding: 0px 0px 10px 0px;
}

.text, label {
    -fx-text-fill: white;
}
